body {
    background-image: linear-gradient(rgba(230, 255, 3, 0.226),rgba(0, 238, 255, 0.192)),url(https://images.pexels.com/photos/879109/pexels-photo-879109.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}
.text {
    margin: 10% 20%;
}
.btn {
    border: 4px solid rgb(73, 247, 166);
    border-radius: 10px ;
}
.btn:hover {
    background-color: black;
    color: white;
}
